
/*costanti globali devono corrispondere a quelle in java nel codice principale*/ 
.root {
	/*pulsante menu home*/
	-WIDTH_PULSANTI_HOME: 200;
	-HEIGTH_PULSANTI_HOME:40;
	/* dimensioni sfondo menu home */
	-WIDTH_RECTANGLE_HOME:275;
	-HEIGTH_RECTANGLE_HOME:300;
	/* dimensioni titolo menu home */
	-WIDTH_TITOLO_HOME:250;
	-HEIGTH_TITOLO_HOME:50;
	
	/* dimensioni menu informazioni in gioco */
	-WIDTH_MENU_INFORMAZIONI:500;
	-HEIGTH_MENU_INFORMAZIONI:100;
	/* dimensioni testo informazioni in gioco */
	-WIDTH_TESTO_INFORMAZIONI:100;
	-HEIGTH_TESTO_INFORMAZIONI:30;
	/* dimensioni pulsante menu informazioni */
	-WIDTH_PULSANTE_INFORMAZIONI: 100;
	-HEIGTH_PULSANTE_INFORMAZIONI: 40;
	/* dimensioni cuore vita menu informazioni */
	-DIMENSIONI_IMMAGINE_CUORE_INFORMAZIONI:20;
	
	/* dimenioni gridPane Opzioni */
	-DIMENSIONI_X_GRIDPANE: 500;
	-DIMENSIONI_COLONNA_GRIDPANE: -DIMENSIONI_X_GRIDPANE;
	-DIMENSIONI_Y_GRIDPANE: 400;
	-DIMENSIONI_X_SFONDO_IMPOSTAZIONI: 600;
	-DIMENSIONI_Y_SFONDO_IMPOSTAZIONI: 520;
	
	/* dimensioni pulsante impostazioni*/
	-WIDTH_PULSANTE_IMPOSTAZIONI: -DIMENSIONI_X_GRIDPANE;
	-HEIGTH_PULSANTE_IMPOSTAZIONI: 40;
	
	/*dimensioni sfondo del finale*/
	-DIMENSIONI_X_SFONDO_FINALE: 350;
	-DIMENSIONI_Y_SFONDO_FINALE: 300;
}

/*font utilizzati nel gioco*/
@font-face {
	font-family: SPACE;
    src: url('SPACE.ttf');
}

.pain{
	-fx-background-color: rgb(128, 128, 255);
}
.buttonHome{
	-fx-pref-width: -WIDTH_PULSANTI_HOME;
	-fx-pref-height: -HEIGTH_PULSANTI_HOME;
	-fx-background-color: rgba(128,128,128,0.4);
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-font-family: SPACE;
	-fx-font-size: 15;
	-fx-padding: 3;
	-fx-border-radius: 23;
	-fx-background-radius: 23;
}
.buttonHome:hover{
	-fx-padding: 0;
	-fx-font-family: SPACE;
	-fx-font-size: 19;
	-fx-background-color: rgba(128,128,128,0.7);
	-fx-pref-width: -WIDTH_PULSANTI_HOME+5;
	-fx-pref-height: -HEIGTH_PULSANTI_HOME+5;
}
.menuHome{
	-fx-pref-width: -WIDTH_RECTANGLE_HOME;
	-fx-pref-height: -HEIGTH_RECTANGLE_HOME;
	-fx-background-color: rgba(128, 0, 255,0.5);
	-fx-background-radius: 23;
}
.titleHome{
	-fx-pref-width: -WIDTH_TITOLO_HOME;
	-fx-pref-height: -HEIGTH_TITOLO_HOME;
	-fx-text-fill: rgb(255, 255, 255);
	-fx-font-size: 25px;
	-fx-font-family: SPACE;
	-fx-font-weight: bold;
	-fx-alignment: center;
}
.sfondoHomeTrasparente{
	-fx-fill: rgba(0, 0, 0,0.2);
}
.menuInformazioniGioco {
	-fx-pref-width: -WIDTH_MENU_INFORMAZIONI;
	-fx-pref-height: -HEIGTH_MENU_INFORMAZIONI;
	-fx-background-color: rgba(128, 128, 255, 0.2);
	-fx-background-radius: 10;
	
}
.testoMenuInformazioni{
	-fx-pref-width:	-WIDTH_TESTO_INFORMAZIONI;
	-fx-pref-height:-HEIGTH_TESTO_INFORMAZIONI;
	-fx-font-family: SPACE;
	-fx-font-weight: bold;
	-fx-font-size: 15;
	-fx-text-fill: rgb(255, 255, 255);
	-fx-alignment: center;
	
}
.pulsanteMenuInformazioni{
	-fx-pref-width:	-WIDTH_PULSANTE_INFORMAZIONI;
	-fx-pref-height:-HEIGTH_PULSANTE_INFORMAZIONI;
	-fx-background-color: rgba(128,128,128);
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-font-family: SPACE;
	-fx-font-size: 15;
	-fx-padding: 3;
	-fx-border-radius: 23;
	-fx-background-radius: 23;
}
.pulsanteMenuInformazioni:hover{
	-fx-background-color: rgba(192, 192, 192);
	-fx-font-family: SPACE;
	-fx-font-size: 17;
	-fx-padding: 3;
	-fx-border-radius: 23;
	-fx-background-radius: 23;
}
.grigliaImpostazioni{
	-fx-font-size: 20;
	-fx-font-family: SPACE;
}
.testoImpostazioni{
	-fx-font-family: SPACE;
	-fx-font-weight: bold;
	-fx-font-size: 17;
	-fx-text-fill: rgb(255, 255, 255);
}
.testoImpostazioniDettaglio{
	-fx-max-width: -DIMENSIONI_COLONNA_GRIDPANE;
	-fx-font-family: SPACE;
	-fx-font-size: 15;
	-fx-text-fill: rgb(255, 255, 255);
	-fx-alignment: center;
}
.titleImpostazioni{
	-fx-pref-width: 333;
	-fx-pref-height: -HEIGTH_TITOLO_HOME;
	-fx-text-fill: rgb(255, 255, 255);
	-fx-font-size: 25px;
	-fx-font-family: SPACE;
	-fx-font-weight: bold;
	-fx-alignment: center;
}
.allinemantoCentratoImpostazioni{
	-fx-max-width: -DIMENSIONI_COLONNA_GRIDPANE;
	-fx-alignment: center;
}
.pulsanteImpostazioni{
	-fx-max-width:	-WIDTH_PULSANTE_IMPOSTAZIONI;
	-fx-pref-height:-HEIGTH_PULSANTE_IMPOSTAZIONI;
	-fx-background-color: rgb(0, 0, 64);
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-font-family: SPACE;
	-fx-font-size: 15;
	-fx-padding: 3;
	-fx-border-radius: 23;
	-fx-background-radius: 23;
}
.pulsanteImpostazioni:hover{
	-fx-background-color: rgb(0, 0, 160);
	-fx-font-family: SPACE;
	-fx-font-size: 17;
	-fx-padding: 3;
	-fx-border-radius: 23;
	-fx-background-radius: 23;
}
.sfondoImpostazioni{
	-fx-pref-width: -DIMENSIONI_X_SFONDO_IMPOSTAZIONI;
	-fx-pref-height: -DIMENSIONI_Y_SFONDO_IMPOSTAZIONI;
	-fx-background-color: rgb(128, 128, 192);
	-fx-background-radius: 23;
}
.testoGiocoFinaleNumeri{
	-fx-pref-width: 150;
	-fx-pref-heigth: 30;
	-fx-font-family: SPACE;
	-fx-font-weight: bold;
	-fx-font-size: 23;
	-fx-text-fill: rgb(255, 255, 255);
	-fx-alignment: center;
}.testoGiocoFinale{
	-fx-pref-width: 150;
	-fx-pref-heigth: 30;
	-fx-font-family: SPACE;
	-fx-font-weight: bold;
	-fx-font-size: 23;
	-fx-text-fill: rgb(255, 255, 255);
}
.testoGiocoFinaleSottotitolo{
	-fx-font-family: SPACE;
	-fx-font-weight: bold;
	-fx-font-size: 23;
	-fx-text-fill: rgb(255, 255, 255);
	-fx-alignment: center;
}
.titleFinale{
	-fx-pref-width: -WIDTH_TITOLO_HOME;
	-fx-pref-height: -HEIGTH_TITOLO_HOME;
	-fx-text-fill: rgb(255, 255, 255);
	-fx-font-size: 40;
	-fx-font-family: SPACE;
	-fx-font-weight: bold;
	-fx-alignment: center;
}
.sfondoFinale{
	-fx-pref-width: -DIMENSIONI_X_SFONDO_FINALE;
	-fx-pref-height: -DIMENSIONI_Y_SFONDO_FINALE;
	-fx-background-color: rgb(128, 128, 192);
	-fx-background-radius: 23;
}